<h1>Shopping Cart</h1>
<ng-container *ngIf="shoppingCartService && shoppingCartService.currentCart">
  <p>You have {{shoppingCartService.currentCart.quantityOfItems}} items in your cart</p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shoppingCartService.currentCart.items">
        <td>{{item.product.title}}</td>
        <td>
        <app-product-quantity [product]="item.product" [shopping-cart]="shoppingCartService.currentCart">
        </app-product-quantity>
      </td>
        <td>{{item.totalPrice | currency:'USD':'symbol'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th>{{shoppingCartService.currentCart.totalPrice | currency:'USD':'symbol'}}</th>
      </tr>
    </tfoot>
  </table>
  <button class="btn btn-danger btn-sm" (click)="clearCart()">Clear Shopping Cart</button>
</ng-container>